<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>828607771367-g0c0jro12bckkcjnr491g9f1029i296t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828607771367-g0c0jro12bckkcjnr491g9f1029i296t</string>
	<key>API_KEY</key>
	<string>AIzaSyDbtGLcJ1H8RFHjvM2uTpsQwWMd8XVCNZU</string>
	<key>GCM_SENDER_ID</key>
	<string>828607771367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firex</string>
	<key>PROJECT_ID</key>
	<string>firexchat</string>
	<key>STORAGE_BUCKET</key>
	<string>firexchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828607771367:ios:e8ff4ba4e06cbdec</string>
	<key>DATABASE_URL</key>
	<string>https://firexchat.firebaseio.com</string>
</dict>
</plist>